$color-white: #fff;
$color-black: #000;

$color-text-primary: #292d32;
$color-text-secondary: #b5b7c0;
$color-text-sidebar: #9197b3;
$color-text-pages: #404b52;
$color-text-accent: #16c098;
$color-text-active: #008767;
$color-text-inactive: #df0404;
$color-text-version: #838383;
$color-text-position: #757575;

$color-background-primary: #fafbff;
$color-background-accent: #5932ea;
$color-background-hover: #5a32ea89;
$color-background-active: #16c09861;
$color-background-inactive: #ffc5c5;
$color-background-input: #f9fbff;

$color-background-pages: #f5f5f5;
$color-border-table: #eeeeee;

$shadow-sidebar: 0px 10px 60px rgba(226, 236, 249, 0.5);

$basic-transition: all 333ms ease;

$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-30: 30px;

$bp-small: 640px;
$bp-medium: 768px;
$bp-large: 1024px;
