@import 'styles/variables';

.title {
  display: flex;
  align-items: baseline;
  gap: 4px;

  &__text {
    font-weight: 600;
  }

  &__version {
    color: $color-text-version;
    font-size: 10px;
  }
}
